footer{
    max-width: 70%;
    background-color: #2b6777;
}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

body {
    background-color: #f2f2f2;
}





