main{
    min-height: 94.1vh;
}

footer.footer{
    width: 100%;
    background-color: #2b6777;
}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    line-height: 200%;
}
button{
    margin-top: 5px;
}

body{
    background-color: #f2f2f2;
}

img{
    border-radius: 50%;
    max-height: 300px;
    width: auto;
}

div.clear{
    clear: both;
    height: 6vh;
}